body {
    background: #E5FCC2;
    font-family: 'Sen', sans-serif;
    scroll-behavior: smooth;
}

.title {
    margin: 40px 0;
}

h1, h2 {
    font-weight: bold;
}

h2.title {
    margin-bottom: 27px;
}

.quote {
    margin: 40px 0 80px;
}

.cta-button {
    background-color: #237ddd;
    border-color: #237ddd;
}

.container {
    max-width: 700px;
    padding-bottom: 20px;
}

.form-instruction {
    margin-bottom: 30px;
}

.header {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.header .navbar-brand {
    color: #eee;
    font-weight: 800;
}

.navbar {
    background: #0B486B;
}

.login-form {
    margin: 30px 0;
}

.welcome-button {
    display: inline-block;
    margin-bottom: 10px;
}

.welcome-actions-container {
    transition: opacity 0.2s;
}

#registered-email-form {
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.2s;
}

#registered-email-form > * {
    display: block !important;
    margin-bottom: 10px;
}

#registered-email-form > label {
    margin: 1px;
}

#registered-email {
    padding: 6px 10px;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 4px;
    color: #333;
}

@media (max-width: 600px) {
    .event {
        flex-direction: column;
        padding: 12px 12px 2px 12px !important;
    }
    .user-photo-container {
        max-width: unset !important;
    }
    .event-description {
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .event-description-value {
        margin-bottom: 5px !important;
    }
}

.event {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 1px 2px 4px 1px #9ab96b;
}

.event-start-time {
    color: #eee;
    font-size: 17px;
    margin-bottom: 0px;
    background: #1a8a4c;
    padding: 5px 12px;
    display: inline;
    margin-left: 19px;
    border-radius: 5px 5px 0 0;
}

.event-start-time i {
    margin-right: 4px;
}

.user-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.user-photo-container {
    max-width: 40%;
}

.event-description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.event-description-category {
    font-weight: 1000;
}

.event-description-value {
    margin-bottom: 15px;
}

.message-for-worker {
    margin-bottom: 30px;
}

#refresh-warner {
    max-width: 300px;
    background-color: var(--orange);
    border-radius: 5px;
    padding: 10px 20px;
    position: fixed;
    top: 80px;
    left: 41vw;
    left: calc(100vw - 330px);
    color: white;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
}

#refresh-warner i {
    font-size: 28px;
    margin-right: 9px;
}
