body {
    background: #E5FCC2;
    font-family: 'Sen', sans-serif;
}

.title {
    margin: 40px 0;
}

h1, h2 {
    font-weight: bold;
}

h2.title {
    margin-bottom: 27px;
}

.quote {
    margin: 40px 0 80px;
}

.cta-button {
    margin-top: 15px;
    background-color: #237ddd;
    border-color: #237ddd;
}

.container {
    max-width: 700px;
    padding-bottom: 20px;
}

.form-instruction {
    margin-bottom: 30px;
}

.header {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.header .navbar-brand {
    color: #eee;
    font-weight: 800;
}

.navbar {
    background: #0B486B;
}

.login-form {
    margin: 30px 0;
}
