{% extends 'base.html' %}

{% load i18n %}
{% load tz %}

{% block content %}
    <h2 class="title">{% trans "Cancelamento" %}</h2>

    {% if event is None %}
        <p>{% trans "Não encontramos registro deste evento. Provavelmente, ele já foi cancelado." %}</p>
    {% else %}
        {% timezone event.user.timezone %}
        <p class="form-instruction">
            {% trans "Você deseja mesmo desmarcar sua sessão marcada para" %}
            {{ event.start | date }},
            {% trans "às" %}
            {{ event.start | time }}?
        </p>
        {% endtimezone %}

        <a href="{% url 'welcome' %}">
            <button class="btn btn-light">{% trans 'Ir para a tela inicial' %}</button>
        </a>
        <form style="display: inline-block" method="post" action="{% url 'cancel_work_event' event.event_id %}">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="{% trans 'Desmarcar sessão' %}">
        </form>
    {% endif %}

{% endblock %}
