{% extends 'base.html' %}

{% load tz %}
{% load i18n %}

{% block content %}
    <h2 class="title">{% trans "Escolha o tipo de sessão" %}</h2>

    {% if next_event %}
    {% timezone user.timezone %}
    <p class="form-instruction">
        Parece que você já tem uma sessão marcada com a gente no dia
        {{ next_event.start | date }},
        {% trans "às" %}
        {{ next_event.start | time }}.
        Por ora, só permitimos uma sessão marcada por pessoa.
    </p>
    <p class="form-instruction">
        Se deseja cancelar, clique no link de cancelamento no email que enviamos para {{ next_event.user.email_address }}.
        {% if not has_timeslots_available %}
        <strong>Obs.: Se estiver cancelando para poder remarcar em outro horário, saiba que não há horários disponíveis nos próximos 7 dias.</strong>
        {% endif %}
    </p>
    {% endtimezone %}
    {% endif %}



    {% if not next_event %}
    <div class="mb-4">
        *Vagas para os próximos 7 dias.
    </div>

    <ul class="horizontal text-center align-center g16 list">
        <li title="À distância">
            <a class="flex h192 vertical justify-center card bg-white p8 r8{% if not count_remote_available %} disabled{% endif %}" href="{% url 'schedule' %}">
                <div class="h5">{% trans 'À distância' %}</div>
                <small>
                    {{ count_remote_available }}
                    {{ count_remote_available|pluralize:"disponível,disponíveis" }}.
                </small>
            </a>
        </li>

        <li title="Presencial">
            <a class="flex h192 vertical justify-center card bg-white p8 r8{% if not count_live_available %} disabled{% endif %}" href="{% url 'schedule_live' %}">
                <div class="h5">{% trans 'Presencial' %}</div>
                <small>
                    {{ count_live_available }}
                    {{ count_live_available|pluralize:"disponível,disponíveis" }}.
                </small>
            </a>
        </li>
    </ul>
    {% endif %}

    <div class="mtb-32">
        <a href="{% url 'welcome' %}">
            <button class="btn btn-default">{% trans 'Voltar' %}</button>
        </a>
    </div>
{% endblock %}

