{% extends 'base.html' %}

{% load tz %}
{% load i18n %}

{% block content %}
    <h2 class="title">{% trans "Escolha o tipo de sessão" %}</h2>

    {% if next_event %}
    {% timezone user.timezone %}
    <p>Olá, {{ user.full_name }}!</p>

    <p>Parece que você já tem um Reiki marcado com a gente.</p>

    {% include "event_instructions.html" with event=next_event has_timeslots_available=has_timeslots_available %}

    {% endtimezone %}
    {% endif %}


    {% if not next_event %}
    <div class="mb-4">
        *Vagas para os próximos 7 dias.
    </div>

    <ul class="horizontal text-center align-center g16 list">
        <li title="À distância" class="flex">
            <a class="h192 vertical justify-center elevated-card bg-white p8 r8{% if not count_remote_available %} disabled{% endif %}" href="{% url 'schedule' %}">
                <div class="h5">{% trans 'À distância' %}</div>
                <small>
                    {{ count_remote_available }}
                    {{ count_remote_available|pluralize:"disponível,disponíveis" }}.
                </small>
            </a>
        </li>

        <li title="Presencial" class="flex">
            <a class="flex h192 vertical justify-center elevated-card bg-white p8 r8{% if not count_live_available %} disabled{% endif %}" href="{% url 'schedule_live' %}">
                <div class="h5">{% trans 'Presencial' %}</div>
                <small>
                    {{ count_live_available }}
                    {{ count_live_available|pluralize:"disponível,disponíveis" }}.
                </small>
            </a>
        </li>
    </ul>
    {% endif %}

    <div class="mtb-32">
        <a href="{% url 'welcome' %}">
            <button class="btn btn-default">{% trans 'Ir para o início' %}</button>
        </a>
    </div>
{% endblock %}
