{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load tz %}


{% block content %}

{% timezone worker_timezone %}
<link rel="stylesheet" href="{% static 'workforce/index.css' %}"></link>
<script src="{% static 'workforce/get_events_hash.js' %}"></script>
<script>
    let events_hash = "{{events_hash}}";
</script>

<div id="refresh-warner">
    <i class="fas fa-exclamation-triangle"></i>
    <div>
        {% trans "Há atualizações na sua agenda. Por favor, atualize a página." %}
    </div>
</div>

<h2 class="title">
    {% trans "Agenda de hoje" %}
</h2>

<div class="message-for-worker">
    <p>{% trans "Olá" %}, {{worker_name}}!</p>
    <p>
        {% trans 'Aqui, ficam as sessões marcadas para você no dia de hoje.' %}
        {% trans 'Vamos mostrar um aviso aqui na página quando novas sessões forem marcadas.' %}
    </p>
    <p>{% trans 'Tenha um ótimo dia de trabalho.' %}</p>
</div>

{% for event in today_events %}
<div class="event-start-time">
    <i class="fas fa-clock"></i>
    {{event.start | time}}
</div>
<div class="event">
    <div class="user-photo-container">
        {% if event.user.photo %}
            <a href="{{ event.user.photo.url }}">
            <img
                class="user-photo"
                src="{{ event.user.photo.url }}"
                alt="Foto de {{ event.user.full_name }}">
            </a>
        {% else %}
            <div class="user-photo">
                {% trans "Sem foto" %}
            </div>
        {% endif %}
    </div>
    <div class="event-description">
        <div class="event-description-category">
            {% trans "Nome" %}
        </div>
        <div class="event-description-value">
            {{event.user.full_name}}
        </div>
        <div class="event-description-category">
            {% trans "Comentário" %}
        </div>
        <div class="event-description-value">
            {{event.comment}}
            {% if event.comment == '' %}
            {% trans 'Sem comentário' %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% if not today_events %}
<div>
    {% trans "Você ainda não tem nenhuma sessão marcada para hoje." %}
</div>
{% endif %}


{% endtimezone %}
{% endblock %}
