{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load tz %}


{% block content %}

{% timezone worker_timezone %}
<link rel="stylesheet" href="{% static 'workforce/index.css' %}"></link>
<script src="{% static 'workforce/get_events_hash.js' %}"></script>
<script>
    let events_hash = "{{events_hash}}";
    let requested_date = "{{requested_date}}";
</script>

<div id="refresh-warner">
    <i class="fas fa-exclamation-triangle"></i>
    <div>
        {% trans "Há atualizações na sua agenda. Por favor, atualize a página." %}
    </div>
</div>

<h2 class="title">
    {% trans "Sua agenda" %}
</h2>

<div class="message-for-worker">
    <p>{% trans "Olá" %}, {{worker_name}}!</p>
    <p>
        {% trans 'Aqui, ficam as sessões marcadas para você no dia selecionado.' %}
        {% trans 'Vamos mostrar um aviso aqui na página quando novas sessões forem marcadas.' %}
    </p>
    <label for="selected-day"><strong>{% trans 'Selecionar dia' %}</strong>:</label>
    <input
        type="date"
        name="selected-day"
        id="selected-day"
        class="form-control dateInput">
</div>

{% for event in today_events %}
<div class="event">
    <div class="event-start-time">
        <i class="fas fa-clock"></i>
        {{event.start | time}}
    </div>
    <div class="user-photo-container">
        {% if event.user.photo %}
            <!-- <a href="{{ event.user.photo.url }}"> -->
            <img
                class="user-photo"
                src="{{ event.user.photo.url }}"
                alt="Foto de {{ event.user.full_name }}">
            <!-- </a> -->
        {% else %}
            <div class="user-photo">
                {% trans "Sem foto" %}
            </div>
        {% endif %}
    </div>
    <div class="event-description">
        <table class="table table-light table-sm mb-0">
            <tbody>
                <tr>
                    <th scope="row" class="border-top-0">{% trans "Nome" %}</th>
                    <td class="border-top-0">{{ event.user.full_name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Sessão" %}</th>
                    <td>
                        {% if event.is_live %}
                            {% trans "Presencial" %}
                        {% else %}
                            {% trans "À distância" %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Coment." %}</th>
                    <td>
                        {{event.comment}}
                        {% if event.comment == '' %}
                        {% trans 'Sem comentário' %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="event-description-category">
            {% trans "Nome" %}
        </div>
        <div class="event-description-value">
            {{event.user.full_name}}
        </div>
        <div class="event-description-category">
            {% trans "Comentário" %}
        </div>
        <div class="event-description-value">
            {{event.comment}}
            {% if event.comment == '' %}
            {% trans 'Sem comentário' %}
            {% endif %}
        </div> -->
    </div>
</div>
{% endfor %}

{% if not today_events %}
<div>
    {% trans "Você não tem nenhuma sessão marcada para o dia selecionado." %}
</div>
{% endif %}

<script>
    const datepicker = document.getElementById('selected-day');
    datepicker.value = "{{ requested_date }}";
    datepicker.addEventListener('change', (event) => {
        window.location.href = "{% url 'my_schedule' %}" + "?date=" + event.target.value;
    });
</script>

{% endtimezone %}
{% endblock %}
