{% extends 'base.html' %}

{% load i18n %}
{% load tz %}

{% block content %}
    <h2 class="title">{% trans "Confirmação" %}</h2>

    {% timezone event.user.timezone %}
    <p class="form-instruction">
        {% trans "Pronto! Sua reserva está feita para" %}
        {{ event.start | date }},
        {% trans "às" %}
        {{ event.start | time }}.

        {% if is_live %}
            <!-- Segue algumas instruções: -->
            Lembre-se de chegar com X minutos de antecedência.
        {% else %}
            {% trans "Nós enviaremos um lembrete no email" %}
            {{ event.user.email_address }}
            {% trans "perto do horário de início da sessão." %}
        {% endif %}
    </p>
    {% endtimezone %}

    <p class="form-instruction form-instruction-box">
        {% if is_live %}
            <!-- Segue algumas instruções: -->
        {% else %}
            {% trans "A sessão dura 15 minutos e recomenda-se que seja feita em um lugar mais tranquilo." %}
        {% endif %}
    </p>

    <a href="{% url 'welcome' %}">
        <button class="btn btn-primary cta-button">{% trans 'Voltar' %}</button>
    </a>
{% endblock %}
