{% extends 'base.html' %}

{% load i18n %}
{% load tz %}

{% block content %}
    <h2 class="title">{% trans "Confirmação" %}</h2>

    {% timezone event.user.timezone %}
    <p>
        <strong>{% trans "Pronto! Sua reserva está feita." %}</strong>
    </p>

    <p>
        Enviamos agora um email para você com as informações completas sobre o agendamento.
    </p>

    <p>
        Em caso de dúvida, <a class="alert-link" href="mailto:contato@reikidosantaines.site">clique aqui</a>
        e entre em contato conosco.
    </p>

    <hr />
    {% include "cancelling_instructions.html" with event=event has_timeslots_available=has_timeslots_available other_timeslots=other_timeslots %}

    {% endtimezone %}

    <div class="mtb-32">
        <a href="{% url 'welcome' %}">
            <button class="btn btn-default">{% trans 'Ir para o início' %}</button>
        </a>
    </div>
{% endblock %}
