{% extends 'base.html' %}

{% load i18n %}
{% load tz %}

{% block content %}
    <h2 class="title">{% trans "Confirmação" %}</h2>

    {% timezone event.user.timezone %}
    <p class="form-instruction">
        {% trans "Pronto! Sua reserva está feita." %}
    </p>

    {% include "event_instructions.html" with event=event has_timeslots_available=True %}

    {% endtimezone %}

    <div class="mtb-32">
        <a href="{% url 'welcome' %}">
            <button class="btn btn-default">{% trans 'Ir para o início' %}</button>
        </a>
    </div>
{% endblock %}
