{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <blockquote class="blockquote text-right quote">
        <p>{% trans "Só por hoje" %}</p>
        <p>{% trans "Serei grato" %}</p>
        <p>{% trans "Não alimentarei ódio, raiva ou rancor" %}</p>
        <p>{% trans "Não me preocuparei" %}</p>
        <p>{% trans "Amarei e respeitarei tudo que vive" %}</p>
        <p>{% trans "Serei honesto" %}</p>
        <footer class="blockquote-footer">{% trans "Os cinco princípios do Reiki" %}</footer>
    </blockquote>

    <p>O Reiki é uma prática secular de origem tibetana para equilíbrio do corpo
        físico, emocional e espiritual, através da canalização da energia
        universal que o reikiano absorve e transmite para o paciente.
    </p>

    <p>Nós, do Reiki do Santa Inês, ofertamos Reiki à distância e presencial com agendamento.
        Os reikis são gratuitos e você deve agendar aqui nesse site. Confira abaixo.
    </p>

    <div class="card" role="alert">
        <div class="card-body">
            <h5 class="card-title">
                <i class="fa fa-plane" aria-hidden="true" style="color: darkslategrey; rotate: -45deg"></i>
                <i class="fa fa-gift" aria-hidden="true" style="color: darkred"></i>
                <i class="fa fa-tree" aria-hidden="true" style="color: darkgreen"></i>
                Recesso do presencial
                <i class="fa fa-plane" aria-hidden="true" style="color: darkslategrey; rotate: -45deg"></i>
                <i class="fa fa-gift" aria-hidden="true" style="color: darkred"></i>
                <i class="fa fa-tree" aria-hidden="true" style="color: darkgreen"></i>
            </h5>
            <p>Nesse final de ano, não teremos atendimento presencial do dia
                15 de Dezembro de 2023 até o dia 08 de janeiro de 2024.</p>
            <p>Os atendimentos à distância continuarão sendo ofertados.</p>
            <p><strong><u>Retornamos com o presencial na terça-feira do dia <mark style="background-color: orange">9 de janeiro de 2024</mark>.</u></strong></p>
            <p class="mb-0">Feliz natal, boas festas e até ano que vem!</p>
        </div>
    </div>

    <h2 class="mt-5">Agendar</h2>
    <form action="{% url 'welcome' %}" method="post">
        {% csrf_token %}
        <label for="registered_email" class="d-block mt-3">{% trans 'Endereço de email cadastrado:' %}</label>
        <div class="d-flex">
            <input type="email" name="registered_email" id="registered-email" required />
            <input class="btn btn-primary cta-button ml-2" type="submit" value="{% trans 'Entrar' %}" />
        </div>
        {% if error_message %}
        <small class="text-danger">{{ error_message }}</small>
        {% endif %}
    </form>

    <div class="mt-3 mb-5">
        Não tem cadastro? <a href="{% url 'registration' %}">Clique aqui.</a>
    </div>

    <script>
        const message = "{{ error_message }}";
        if (message) {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>

{% endblock %}
