{% extends 'base.html' %}

{% load tz %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
    <h2 class="title">{% trans "Marcar sessão" %}</h2>

    <p class="form-instruction">
        Olá, {{ user.full_name }}!
    </p>

    {% if next_event %}
    {% timezone event.user.timezone %}
    <p class="form-instruction">
        Parece que você já tem uma sessão marcada com a gente no dia
        {{ next_event.start | date }},
        {% trans "às" %}
        {{ next_event.start | time }}.
        Por ora, só permitimos uma sessão marcada por pessoa.
    </p>
    <p class="form-instruction">
        Se deseja cancelar, clique no link de cancelamento no email que enviamos para {{ next_event.user.email_address }}.
        {% if not has_timeslots_available %}
        <strong>Obs.: Se estiver cancelando para poder remarcar em outro horário, saiba que não há horários disponíveis nos próximos 7 dias.</strong>
        {% endif %}
    </p>
    {% endtimezone %}
    {% endif %}



    {% if not next_event %}
    {% if has_timeslots_available %}
        <form action="{% url 'schedule' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary cta-button" type="submit" value="{% trans 'Marcar' %}">
        </form>
    {% else %}
        <p class="form-instruction">
            {% trans "Desculpe, não há horários disponíveis nos próximos 7 dias." %}
        </p>
        <a href="{% url 'welcome' %}">
            <button class="btn btn-light">{% trans 'Voltar para a tela inicial' %}</button>
        </a>
    {% endif %}
    {% endif %}

{% endblock %}
