{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
    <h2 class="title">{% trans "Horários disponíveis" %}</h2>

    {% if form.fields['timeslots_available'] %}
        <p class="form-instruction">
            Precisaremos das informações abaixo para podermos te identificar.
            O endereço de email servirá para podermos enviar para você um pequeno
            lembrete pouco antes do horário de início da sessão.
        </p>

        <form action="{% url 'schedule' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary cta-button" type="submit" value="{% trans 'Marcar' %}">
        </form>
    {% else %}
        <p class="form-instruction">
            {% trans "Desculpe, não há horários disponíveis nos próximos 7 dias." %}
        </p>
        <a href="{% url 'welcome' %}">
            <button class="btn btn-light">{% trans 'Voltar para a tela inicial' %}</button>
        </a>
    {% endif %}
{% endblock %}
