{% extends 'base.html' %}

{% load i18n %}
{% load tz %}

{% block content %}
    <h2 class="title">{% trans "Confirmação" %}</h2>

    {% timezone event.user.timezone %}
    <p class="form-instruction">
        {% trans "Pronto! Sua reserva está feita para" %}
        {{ event.start | date }},
        {% trans "às" %}
        {{ event.start | time }}.
        {% trans "Nós enviaremos um lembrete no email" %}
        {{ event.user.email_address }}
        {% trans "perto do horário de início da sessão." %}
    </p>
    {% endtimezone %}

    <p class="form-instruction form-instruction-box">
        {% trans "A sessão dura 15 minutos e recomenda-se que seja feita em um lugar mais tranquilo." %}
    </p>

    <a href="{% url 'schedule' %}">
        <button class="btn btn-primary cta-button">{% trans 'Voltar' %}</button>
    </a>
{% endblock %}
