{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h2 class="title">Confirmação</h2>

    <p class="form-instruction">
        {% trans "Pronto! Sua reserva está feita. Nós enviaremos um lembrete no email" %}
        {{ event.user.email_address }}
        {% trans "perto do horário de início da sessão." %}
        {% trans "Você já pode fechar esta janela." %}
    </p>

    <a href="{% url 'welcome' %}">
        <button class="btn btn-primary cta-button">{% trans 'Ir para a tela inicial' %}</button>
    </a>
{% endblock %}
