{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <script src="{% static 'scheduler/welcome_page_visibility_controller.js' %}"></script>

    <blockquote class="blockquote text-right quote">
        <p class="mb-0">{% trans "Só por hoje" %}</p>
        <p class="mb-0">{% trans "Não te zangues" %}</p>
        <p class="mb-0">{% trans "Não te preocupes" %}</p>
        <p class="mb-0">{% trans "Seja grato" %}</p>
        <p class="mb-0">{% trans "Seja diligente" %}</p>
        <p class="mb-0">{% trans "Seja bondoso com os outros" %}</p>
        <footer class="blockquote-footer">{% trans "Os cinco princípios do Reiki" %}</footer>
    </blockquote>

    <p><strong>{% trans "Oi, gente!" %}</strong></p>
    <p>
        Neste período de quarentena, nós, do Reiki do bairro Santa Inês,
        continuamos nos oferecendo para prestar nossos serviços. Porém,
        por causa do momento atual, realizaremos somente Reikis a
        distância. Se você se interessa em marcar uma sessão com a gente,
        então, vamos lá:
    </p>

    <div class="welcome-actions-container">
        <div class="welcome-actions-header">
            <button
                id="return-button"
                class="btn btn-default"
                style="display: none"
                onclick="hideEmailField()">
                <i class="fas fa-chevron-left" style="font-size: x-small"></i>
                {% trans "Voltar" %}
            </button>
            <button
                class="btn btn-primary cta-button welcome-button"
                style="margin-right: 20px;"
                onclick="showEmailField()">
                {% trans "Já tenho cadastro" %}
            </button>
            <a href="{% url 'registration' %}">
                <button
                    class="btn btn-primary cta-button welcome-button"
                    type="submit">
                    {% trans 'Sou novo aqui' %}
                </button>
            </a>
        </div>
        <form action="{% url 'welcome' %}" method="post" id="registered-email-form">
            {% csrf_token %}
            <label for="registered_email">{% trans 'Insira seu email cadastrado:' %}</label>
            <input type="email" name="registered_email" id="registered-email" required />
            {% if error_message %}
            <small class="text-danger">{{ error_message }}</small>
            {% endif %}

            <input
                class="btn btn-primary cta-button"
                type="submit"
                value="{% trans 'Entrar' %}" />
        </form>
    </div>

    <script>
        const message = "{{ error_message }}";
        if (message) {
            showEmailField();
        }
    </script>

{% endblock %}
