{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <script src="{% static 'scheduler/timezone_getter.js' %}"></script>

    <blockquote class="blockquote text-right quote">
        <p class="mb-0">{% trans "Só por hoje" %}</p>
        <p class="mb-0">{% trans "Não te zangues" %}</p>
        <p class="mb-0">{% trans "Não te preocupes" %}</p>
        <p class="mb-0">{% trans "Seja grato" %}</p>
        <p class="mb-0">{% trans "Seja diligente" %}</p>
        <p class="mb-0">{% trans "Seja bondoso com os outros" %}</p>
        <footer class="blockquote-footer">{% trans "Os cinco princípios do Reiki" %}</footer>
    </blockquote>


    <p><strong>{% trans "Oi, gente!" %}</strong></p>
    <p>
        Neste período de quarentena, nós, do Reiki do bairro Santa Inês,
        continuamos nos oferecendo para prestar nossos serviços. Porém,
        por causa do momento atual, realizaremos somente Reikis a
        distância. Se você se interessar em marcar uma sessão com a gente,
        basta clicar no botão abaixo.
    </p>

    <form action="{% url 'welcome' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="user_timezone_field" name="user_timezone" value="">
        <input class="btn btn-primary cta-button" type="submit" value="{% trans 'Quero marcar' %}">
    </form>
{% endblock %}
